aws_region          = "us-east-1"
cluster_name        = "platform-demo"
kubernetes_version  = "1.30"
vpc_cidr            = "10.20.0.0/16"
az_count            = 2
admin_cidrs         = ["203.0.113.4/32"] # replace with your own IP/32
ecr_repository_names = ["hello-world"]
owner               = "your-name"
